@charset "UTF-8";

<style>
        body{ 
        }
        h1{
            font-size: 40px;
            font-family: 'Times New Roman', Times, serif;
            color:black;
            text-align: center;
        }
        p{
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            font-size: 17px;
    
        }
        h2{
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
            font-style: italic;
            color: darkred;
        }
        h3{
            font-size: 30px;
            color: red;
            font-family: 'Times New Roman', Times, serif;
        }
        :target{
            color: blue;
        }


    </style>
